{% extends 'base.html' %}

{% block doctor %}
    <div class="content">
        <h1>Wybierz badanie do uzupełnienia</h1>
        <div class="report-container">
            <div class="report">
                <h3>Podstawowy pakiet zdrowia</h3>
                <ul>
                    <li>Wykonane dla: Pacjent X</li>
                    <li>Data wykonania: 2024-04-20</li>
                    <li>Badanie glukozy</li>
                    <li>Badanie poziomu czerwonych krwinek</li>
                    <li>Badanie poziomu białych krwinek</li>
                </ul>
                <textarea class="description" placeholder="Dodaj opis badania..."></textarea>
                <button class="btn">Zapisz opis</button>
            </div>
            <div class="report">
                <h3>Pełny pakiet zdrowia</h3>
                <ul>
                    <li>Wykonane dla: Pacjent Y</li>
                    <li>Data wykonania: 2024-04-21</li>
                    <li>Badanie glukozy</li>
                    <li>Badanie poziomu czerwonych krwinek</li>
                    <li>Badanie poziomu białych krwinek</li>
                    <li>Badanie TSH</li>
                    <li>Badanie FT3</li>
                    <li>Badanie FT4</li>
                </ul>
                <textarea class="description" placeholder="Dodaj opis badania..."></textarea>
                <button class="btn">Zapisz opis</button>
            </div>
        </div>
    </div>
{% endblock %}
