{% extends 'base.html' %}

{% block patient_info %}
<div class="patient_info_container">
    <div class="patient_general">
        <div class="patient_general_img">
            <img src="https://github.com/mdo.png" alt="mdo" width="200" height="200" class="rounded-circle">
        </div>
        <div class="patient_general_id">
            <h3>Patient</h3>
            <h4>John Doe</h4>
        </div>
        <div class="patient_general_infos">
            <div class="patient_general_info">
                <p class="info">Gend:</p>
                <p>Last visit:6 months</p>
            </div>
            <div class="patient_general_info">
                <p class="info">Gend:</p>
                <p>Last visit:6 months</p>
            </div>
            <div class="patient_general_info">
                <p class="info">Gend:</p>
                <p>Last visit:6 months</p>
            </div>
        </div>
    </div>
    <div class="patient_general_info_health_status">
        <div class="patient_general_info_health_status_card">
            <div style="width: 100%;height:100%">
                <p class="card_title">Title</p>
            </div>
            <div class="card_item">
<div style="display: flex; justify-content: flex-start; align-items: center;">
                    <div class="card_icon_conatiner">
                        <i class="fa-solid fa-heart-pulse card_icon"></i>
                    </div>
                    <div class="card_item_text">
                        <p>Blood Test</p>
                        <p>Dr. Kowalska</p>
                    </div>
                </div>
                <div >
                    <i class="fa-solid fa-arrow-right" ></i>
                </div>
            </div>
            <div class="card_item">
                <div style="display: flex; justify-content: flex-start; align-items: center;">
                    <div class="card_icon_conatiner">
                        <i class="fa-solid fa-heart-pulse card_icon"></i>
                    </div>
                    <div class="card_item_text">
                        <p>Blood Test</p>
                        <p>Dr. Kowalska</p>
                    </div>
                </div>
                <div >
                    <i class="fa-solid fa-arrow-right" ></i>
                </div>
            </div>
        </div>
        <div class="patient_general_info_health_status_card">
            <div style="width: 100%;">
                <p class="card_title">Title</p>
            </div>
            <div class="card_item">
                <div style="display: flex; justify-content: flex-start; align-items: center;">
                    <div class="card_icon_conatiner">
                        <i class="fa-solid fa-heart-pulse card_icon"></i>
                    </div>
                    <div class="card_item_text">
                        <p>Blood Test</p>
                        <p>Dr. Kowalska</p>
                    </div>
                </div>
                <div >
                    <i class="fa-solid fa-arrow-right" ></i>
                </div>
            </div>
            <div class="card_item">
                <div style="display: flex; justify-content: flex-start; align-items: center;">
                    <div class="card_icon_conatiner">
                        <i class="fa-solid fa-heart-pulse card_icon"></i>
                    </div>
                    <div class="card_item_text">
                        <p>Blood Test</p>
                        <p>Dr. Kowalska</p>
                    </div>
                </div>
                <div >
                    <i class="fa-solid fa-arrow-right" ></i>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}